@using SokratesVintageProject.Models.Entities
@model List<Sepet>
@{
    ViewData["Title"] = "Sepet";
}
<table>
    <tr>
        <th>Ürün Fotoğraf</th>
        <th>Ürün Adı</th>
        <th>Ürün Fiyatı</th>
        <th>Ürün Mİktarı</th>
    </tr>
</table>

